body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;
}
.btn-h3{
    margin-left:23px ;
}

.media-object{
    width: 40px;
    height: 40px;
}
.media-body{
    padding-top: 11px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
    margin-right: 20px;
}
.jumbotron{
    margin: 30px;
}
.comment{
    margin:10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 10px;
}
.hr_question{
    margin-bottom: 5px;
}
.comment_question{
    margin-top: 50px;
}
.menu{
    color: #999;
    margin-top: 7px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #499ef3;
}
.indexMedia{
    margin-bottom: 25px;
}
h4{
    font-weight: bold;
    font-size: 20px;
}
h3{
    font-weight: bold;
    font-size: 31px;
}
.menu .active{
    color: #499ef3;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
    border: 1px solid #eee;
}
.sub-comments .btn{
    margin-top: 15px;
}
.second-content{
    margin-top: 15px;
}
.info-color{
    color: white;
    margin: 5px 10px;
    white-space: normal;
    display:inline-block;
    font-size: 15px;
    font-family: Arial;
}

.question-related{
    line-height: 20px;
    font-size: 15px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.publish-tag-tab{
    margin-top:10px;
    display: none;
}
